p {
  color: #9698a6;
}

#hero-section {
  background: #fafafa;
  height: 750px;
}

#hero-section .hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

#hero-section .content {
  height: 500px;
  margin: 200px 50px 0 13%;
  width: 45%;
}

#hero-section .content h1 {
  font-size: 56px;
  color: #2d314d;
  line-height: 1.3;
}

#hero-section .content p {
  margin-top: 50px;
  font-size: 18px;
  line-height: 1.5;
}

#hero-section .content a {
  text-decoration: none;
}

#hero-section .content .btn {
  margin-top: 55px;
  background: #31d35c;
  background: linear-gradient(97deg, #31d35c 23%, #2bb7da 71%);
  width: 150px;
  text-align: center;
  padding: 15px 25px;
  border-radius: 20px;
  color: #2d314d;
  font-weight: 500;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

#hero-section .content .btn:hover {
  background: #2dc254;
  background: linear-gradient(97deg, #2dc254 23%, #29a1bf 71%);
  color: white;
}

#hero-section .img-container {
  width: 90%;
  overflow: hidden;
}

#hero-section .img-container .hero-img-wrapper {
  position: relative;
  overflow: hidden;
  right: 0;
  top: 40px;
  height: 750px;
  z-index: 1;
}

#hero-section .img-container .hero-img-wrapper .hero-img {
  position: absolute;
  left: 68px;
  top: -225px;
  -o-object-fit: cover;
     object-fit: cover;
}

#hero-section .img-container .hero-img-wrapper2 {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

#hero-section .img-container .hero-img-wrapper2 .hero-img2 {
  position: relative;
  right: -17%;
  bottom: 60px;
}

#info-section {
  background: #f3f4f6;
  padding-bottom: 100px;
}

#info-section .container .title-section {
  padding-top: 150px;
  margin-bottom: 80px;
}

#info-section .container .title-section p {
  margin-top: 40px;
  font-size: 18px;
  line-height: 1.5;
}

#info-section .container .content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#info-section .container .content-container .info-card .info-card-title {
  color: #2d314d;
  margin: 40px 0 30px 0;
  font-size: 1.6rem;
}

#info-section .container .content-container .info-card p {
  width: 80%;
  line-height: 1.5;
  font-size: 18px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.title {
  font-size: 2.5rem;
  color: #2d314d;
}

#article-section {
  background: #fafafa;
  padding-bottom: 100px;
}

#article-section .title {
  padding-top: 50px;
  margin-bottom: 50px;
}

#article-section .article-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
}

#article-section .article-container .card {
  background: white;
  border-radius: 20px;
  height: 450px;
}

#article-section .article-container .card img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 200px;
}

#article-section .article-container .card .author {
  margin: 30px 0 20px 25px;
  font-size: 12px;
}

#article-section .article-container .card a {
  text-decoration: none;
}

#article-section .article-container .card .article-title {
  color: #2d314d;
  margin: 0 35px 25px 20px;
  font-size: 20px;
  line-height: 1.2;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

#article-section .article-container .card .article-title:hover {
  color: #31d35c;
}

#article-section .article-container .card p {
  margin: 0 40px 0 20px;
  line-height: 1.2;
}
/*# sourceMappingURL=main.css.map */