
$dark-blue: hsl(233, 26%, 24%);
$lime-green: hsl(136, 65%, 51%);
$bright-cyan: hsl(192, 70%, 51%);

.navbg {
  width: 100vw;
  background: white;
  height: 60px;
  top: 0;
  position: fixed;  
  z-index: 100;

  .nav-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .navbar, .mobile-nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
    height: 60px;
    top: 0;

    .logo {
      margin-left: 25px;
    }

    .menu {
      display: flex;

      .link {
        padding: 20px;
      }

      a {
        display: inline-block;
        text-decoration: none;
        color: grey;
        transition: color .3s ease-in-out;

        &:hover {
          color: $dark-blue;
        }
      }
    }

    a {
      text-decoration: none;
    }

    .nav-btn {
      background: rgb(49,211,92);
      background: linear-gradient(97deg, rgba(49,211,92,1) 23%, rgba(43,183,218,1) 71%);
      width: 150px;
      text-align: center;
      padding: 13px 25px;
      border-radius: 20px;
      color: $dark-blue;
      font-weight: 500;
      margin-right: 25px;
      transition: color .3s ease-in-out;

      &:hover {
        background: rgb(45,194,84);
        background: linear-gradient(97deg, rgba(45,194,84,1) 23%, rgba(41,161,191,1) 71%);
        color: white;
      }
    }
  }

  .mobile-nav {
    visibility: hidden;
  }

  .hamburger {
    visibility: hidden;
    position: absolute;
    font-size: 2rem;
    right: 25px;
  }
}

@media all and (max-width: 800px) {
  .nav-container {
    visibility: hidden;
  }

  .navbg {

    .hamburger {
      visibility: visible;
      cursor: pointer;
    }
  
    .mobile-nav {
      visibility: visible;
      
      .logo {
        margin-left: 35px;
      }
      .collapse {
        visibility: hidden;
        flex-flow: column nowrap;
        background: whitesmoke;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 300px;
      }
      .menu {
        align-items: center;
        flex-flow: column nowrap;
        margin-top: 35px;
      }
      .nav-btn {
        margin: 15px auto 0 auto;
      }
      .fa-times {
        visibility: hidden;
        position: absolute;
        font-size: 2rem;
        right: 25px;
        cursor: pointer;
      }
    }
  }


}